 body {
     background-color: #142340;
     font-family: "Funnel Sans", sans-serif;
     font-weight: 300;
     margin: 2;
     padding: 0;
     padding-left: 15px;
     padding-right: 15px;

 }

 img {
     width: 50px;
     height: 50px;
     padding-left: 15px;
 }

 hr {
     border: none;
     height: 3px;
     background-color: #e29e57;
     max-resolution: 20px 0;
 }

 ul {
     font-family: "Funnel Sans", sans-serif;
     font-size: 24px;
     margin: 0;
     padding: 0;
     overflow: hidden;
     list-style-type: none;
     position: fixed;
     top: 0;
     width: 100%;
 }

 li {
     display: inline-block;
     text-align: end;
     color: #ffffff;
     font: 24px;
 }

 li a {
     display: inline-block;
     color: #ffffff;
     padding: 15px 15px;
     text-decoration: none;
 }

 li:last-child {
     border-right: none;
 }

 li a:hover {
     background-color: #142340;
 }

 /*settings for header for top of index page to give peacock background*/
 .header-container {
     position: relative;
 }

 .header-container::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 150%;
     border-radius: 35%;
     background-image: url("peacock\ tech\ background.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     opacity: 0.5;
     z-index: -1;
 }

 .header-container h1 {
     position: relative;
     line-height: normal;
     font-family: "Rouge Script", cursive;
     color: azure;
     text-align: center;
     font-size: 150px;
     font-weight: 300;
     padding-top: 15%;
     margin-bottom: 0;
 }

 .header-container h2 {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: center;
     font-size: 75px;
     font-weight: 300;
     margin-top: 0;
 }

 .header-container h3 {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: center;
     font-size: 26px;
     font-style: italic;
     font-weight: 300;
 }

 /*settings for writing for on index page that does not go above peacock background as well as for about page*/
 .intro-container h1 {
     position: relative;
     line-height: normal;
     font-family: "Rouge Script", cursive;
     color: azure;
     text-align: center;
     font-size: 150px;
     font-weight: 300;
     padding-top: 1%;
     margin-bottom: 0;
 }

 .intro-container h3 {
     position: relative;
     padding-top: 20%;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: center;
     font-size: 48px;
     font-weight: 300;
 }

 .intro-container h4 {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: justify;
     font-size: 24px;
     font-weight: 300;

 }

 .intro-container a {
     display: inline-block;
     color: #ffffff;
     text-decoration-line: underline;
     font-size: 24px;
 }

 .intro-container a:hover {
     color: #e29e57;
     font-size: 24px;
 }

 /*configuration for .intro-container for mobile & tablet*/
 /*can't seem to get it working on pc in dev tools pushing to see on mobile*/
 @media (max-width: 801px) {
     .intro-container a {
         font-size: 24px;
     }

     .intro-container a:hover {
         color: #e29e57;
         font-size: 24px;
     }

     /*navigation header at top of every page*/
 }

 .nav-container ul {
     font-family: "Funnel Sans", sans-serif;
     font-size: 24px;
     padding: 0;
     overflow: hidden;
     background-color: #e29e57;
     list-style-type: none;
     position: fixed;
     top: 0;
     LEFT: 0;
     width: 100%;
     z-index: 1;
     font-size: 24px;
 }

 .nav-container li {
     display: inline-block;
     text-align: end;
     color: #ffffff;
     font-size: 24px;
 }

 .nav-container li a {
     display: inline-block;
     color: #ffffff;
     padding: 15px 15px;
     text-decoration: none;
     font-size: 24px;
 }

 .nav-container li:last-child {
     border-right: none;
 }

 .nav-container li a:hover {
     background-color: #142340;
 }

 /*settings for resume page including flex box for titles and date lines*/
 .res-container h1 {
     position: relative;
     line-height: normal;
     font-family: "Rouge Script", cursive;
     color: azure;
     text-align: center;
     font-size: 80px;
     font-weight: 300;
     margin-top: 0;
     margin-bottom: 0;
 }

 .res-container h2 {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: center;
     font-size: 30px;
     font-weight: 300;
     margin-top: 0;
 }

 .res-container h3 {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: center;
     font-size: 40px;
     font-weight: 300;
 }

 .res-container h4 {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: justify;
     font-size: 20px;
     font-weight: 300;

 }

 .res-container h5 {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: center;
     font-size: 150px;
     font-weight: 300;

 }

 .res-container ul {
     position: relative;
     line-height: 24px;
     font-family: "Funnel Sans", sans-serif;
     text-align: left;
     font-size: 24px;
     font-weight: 300;
     display: inline-block;
     text-align: end;
     color: #ffffff;
     padding: 0;
     display: flex;
     justify-content: space-between;
     padding-bottom: 1;
 }

 .res-container li {
     position: relative;
     line-height: 24px;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: left;
     font-size: 14px;
     font-weight: 300;
     display: flex;
     justify-content: space-between;


 }

 .res-container li a {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: center;
     font-size: 150px;
     font-weight: 300;

 }

 .res-container li a:hover {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: #;
     text-align: center;
     font-size: 150px;
     font-weight: 300;

 }

 /*settings for resume page minus flex box for job duties*/
 .res-container2 ul {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     text-align: left;
     font-size: 24px;
     font-weight: 300;
     display: inline-block;
     text-align: end;
     color: #ffffff;
     padding: 0;

 }

 .res-container2 li {
     position: relative;
     line-height: 24px;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: left;
     font-size: 14px;
     font-weight: 300;
     padding: 1;
 }

 /*settings for blog page including flex box for title and date written*/
 .blog-container h1 {
     position: relative;
     line-height: normal;
     font-family: "Rouge Script", cursive;
     color: azure;
     text-align: center;
     font-size: 150px;
     font-weight: 300;
     padding-top: 1%;
     margin-bottom: 0;

 }

 .blog-container h2 {
     position: relative;
     padding-top: 20%;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: center;
     font-size: 48px;
     font-weight: 300;
 }

 .blog-container h3 {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: justify;
     font-size: 24px;
     font-weight: 300;
     padding-bottom: 1;
 }

 .blog-container h4 {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: center;
     font-size: 24px;
     font-weight: 300;
     padding-bottom: 1;
 }

 .blog-container a {
     display: inline-block;
     color: #ffffff;
     text-decoration-line: none;
 }

 .blog-container a:hover {
     color: #e29e57;
 }

 .blog-container ul {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     text-align: left;
     font-size: 18px;
     font-weight: 300;
     display: inline-block;
     text-align: end;
     color: #ffffff;
     display: flex;
     justify-content: space-between;
     padding-bottom: 1;
 }

 .blog-container li {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: left;
     font-size: 18px;
     font-weight: 300;
     display: flex;
     justify-content: space-between;
     list-style-type: disc;

 }

 .blog-container ol {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: left;
     font-size: 18px;
     font-weight: 300;
     display: flex;
     justify-content: space-between;


 }

 .blog-container li a {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: center;
     font-size: 150px;
     font-weight: 300;

 }

 .blog-container li a:hover {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: #e29e57;
     text-align: center;
     font-size: 150px;
     font-weight: 300;

 }

 /*settings for article pages*/
 .article-container h1 {
     position: relative;
     line-height: normal;
     font-family: "Matangi", sans-serif;
     color: azure;
     text-align: center;
     font-size: 50px;
     font-weight: 300;
     padding-top: 3%;
     margin-bottom: 0;
 }

 .article-container h2 {
     position: relative;
     padding-top: 20%;
     line-height: normal;
     font-family: "Matangi", sans-serif;
     color: azure;
     text-align: center;
     font-size: 36px;
     font-weight: 300;
 }

 .article-container h3 {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: justify;
     font-size: 20px;
     font-weight: 100;
     padding-bottom: 1;
     padding-left: 15px;
     padding-right: 15px;
 }

 .article-container h4 {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: left;
     font-size: 24px;
     font-weight: 100;
     font-style: bold;
     padding-left: 15px;

 }

 .article-container a {
     display: inline-block;
     color: #ffffff;
     text-decoration-line: none;
 }

 .article-container a:hover {
     color: #e29e57;
 }

 .article-container ul {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     text-align: left;
     font-size: 18px;
     font-weight: 100;
     display: inline-block;
     color: #ffffff;
     padding-bottom: 1;
     list-style-type: disc;
     display: list-item;
 }

 .article-container li {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: left;
     font-size: 18px;
     font-weight: 100;
     display: list-item;
     padding-left: 30px;

 }

 .article-container li a {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: azure;
     text-align: center;
     font-size: 150px;
     font-weight: 100;
 }

 .article-container li a:hover {
     position: relative;
     line-height: normal;
     font-family: "Funnel Sans", sans-serif;
     color: #e29e57;
     text-align: center;
     font-size: 150px;
     font-weight: 100;
 }

 .res-container table {
     line-height: normal;
     padding-left: 2%;
     width: 80% font-family: "Funnel Sans", sans-serif;
     font-size: 18px;
     font-weight: 100;
     color: #ffffff;
     padding-bottom: 1%;
     padding-top: 1%;

 }

 .res-container td {
     position: relative;
     width: 16% line-height: normal;
     text-align: center;
     border-bottom: 1px solid #e29e57;
 }

 .res-container th {
     position: relative;
     font-size: 24px;
     line-height: normal;
     width: 16%;
     text-align: center;
     padding-bottom: 1;
     border-bottom: 2px solid #e29e57;
 }

 .res-container tr {
     position: relative;
     width: 16%;
     line-height: normal;
     text-align: center;
     padding-bottom: 1;
     border-bottom: 1px solid #e29e57;
 }